body {
  color: #535353;
  font-family: 'Chrono';
  font-size: 16px;
  line-height: 1.5;
  padding: 0 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: underline;
}

hr {
  border: 0;
  height: 0;
  margin: 40px 0;
  border-top: 1px solid #CCC;
}

.Hero {
  text-align: center;
  width: 550px;
  margin: 180px auto;
}

.Hero-logo {
  margin: 0 auto;
}

.Hero-lead {
  font-weight: 400;
  font-size: 23px;
  color: #535353;
  line-height: 34px;
  margin: 30px 0;
}

.Hero-install {
  line-height: 50px;
  border-radius: 7px;
  background: #535353;
  display: inline-block;
  padding: 0 30px;
  margin: 10px 0;
  color: #fff;
}

.Content {
  padding: 150px 0 100px;
  width: 1000px;
  margin: 0 auto;
}

.Content-nav {
  position: fixed;
  top: 220px;
}

.Content-body {
  margin-left: 270px;
}


.Footer {
  border-top: 1px solid #eee;
  margin-top: 100px;
}

.Footer-segment {
  margin: 70px auto 0;
}
.Contents a {
  display: block;
  font-size: 16px;
  color: #535353;
  line-height: 30px;
  text-decoration: none;
}

.Contents a:hover {
  text-decoration: underline;
}

.Copy {

}

.Copy h1 {
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

.Copy pre {

}

.Copy p code {
  background: rgba(0,0,0,0.02);
  font-size: 14px;
  font-family: 'Source Code';
  border: 1px solid rgba(0,0,0,0.1);
  padding: 0 5px;
}

.Copy h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  border-top: 2px solid #eee;
  padding-top: 30px;
}

.Copy h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.Copy mark {
  background: #FEFA95;
}

.Copy ul {
  list-style-position: outside;
  padding:0;
}

.Copy-lead {
  font-size: 20px;
  line-height: 1.5
}

.Code {
  margin: 30px 0;
  background: rgba(0,0,0,0.02);
  border: 1px solid rgba(0,0,0,0.1);
  padding: 20px 30px;
  font-size: 14px;
  border-radius: 3px;
  font-family: 'Source Code';
}

.Code--small {
  margin: 0;
  padding: 10px 20px;
}

.Highlight-keyword {
  color: #9F6AB6;
}

.Highlight-string {
  color: #D14;
}

.Highlight-comment {
  color: #aaa;
}